@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --marrom-escuro: #1B1615;
    --marrom-medio: #322F20;
    --marrom-claro: #6A5837;
    --laranja: #F7B538;
    --creme: #FBF2C0;

    --font-titulo: "Limelight", sans-serif;
    --font-texto: "Cabin", sans-serif;
}

header {
    background-image: url(imagens/cafe-graos.jpg);
    background-size: contain;
    background-attachment: fixed;
    height: 700px;
}

header > div {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--marrom-escuro));
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

header > div > div {
    flex: 0 1 auto;
    color: var(--creme);
    text-align: center;
}

header h1 {
    font-family: var(--font-titulo);
    font-size: 3.4em;
}

header p {
    font-family: var(--font-texto);
    font-size: 1.8em;
}